/*globales*/
:root {
    --verde: #bcef4b;
    --amarillo: #fef752;
    --rojo: #ff0534;
    --negro: #1f1f1f;
    --blanco: #ffffff;
    --rosa : #b32580;
}

html{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

body {
height: 100vh;
max-height: 100vh;
background-color: var(--negro);
color: var(--blanco);
display: flex;
flex-direction: column;
overflow-y: scroll;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: var(--blanco);
}

nav {
    margin: 40px 30px 0;
    max-width: 850px;
}

nav a {
    font-size: 40px;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--verde);
    text-transform: none;
    font-size: 15px;
}

/*index*/

.nav-index ul li img {
    width: 60px;
    height: 60px;
}

.main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.main-index h1 {
    font-size: 40px;
    font-weight: 400;
}

/*ingreso-tareas*/

.form-ingreso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 30px auto;
}

.titulo-tarea {
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.boton-icono,
.boton-tiempo,
.boton-agregar {
    padding: 10px;
    font-weight: 500;
}

/*<--------------------------->*/
.contenedor-icono {
    max-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: #ffffff;
}
/*<--------------------------->*/

.contenedor-icono img {
    width: 80px;
}

.dropdown {
    background-color: #bcef4b;
    margin-top: 20px;
}

.contenedor-dropdown {
    max-height: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 5px;
}

.boton-agregar {
    margin-top: 20px;
}

.titulo-tarea,
.boton-icono,
.contenedor-icono,
.boton-tiempo,
.dropdown,
.boton-agregar {
    border-radius: 15px;
}
