
/*GLOBALES*/

:root {
    --verde: #bcef4b;
    --amarillo: #fef752;
    --rojo: #ff0534;
    --negro: #1f1f1f;
    --blanco: #ffffff;
    --rosa : #b32580;
    --gris: #2e2e2e;
}

html{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    height: 100%;
}

body {
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--blanco);
}

.ul-nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px 40px;
}

.boton-plus {
    font-size: 60px;
    font-weight: 700;
    color: var(--blanco);
    background-color: var(--negro);
    border: none;
    cursor: pointer;
}

.h1 {
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--verde);
    text-transform: none;
    font-size: 15px;
}

/*FORM*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.titulo-tarea {
    margin-bottom: 20px;
    text-align: center;
}

label,
.titulo-tarea,
.boton-icono,
.boton-agregar {
    width: 200px;
    padding: 10px ;
    font-weight: 500;
}

/*<--------------------------->*/
.contenedor-icono {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: var(--gris);
}
/*<--------------------------->*/

.contenedor-icono img {
    width: 80px;
}

.contenedor-icono img:hover {
    background-color: var(--amarillo);
    border-radius: 10%;
}

.dropdown {
    margin-top: 20px;
    background-color: var(--blanco);
}

.dropdown label {
    background-color: var(--blanco);
    color: var(--negro);
    padding-right: 0;
}

.contenedor-dropdown {
    padding: 10px 0;
    margin: 0 auto;
    border: none;
    font-weight: 500;
}

.boton-agregar {
    margin-top: 20px;
}

label,
img,
.titulo-tarea,
.boton-icono,
.contenedor-icono,
.dropdown,
.contenedor-dropdown,
.boton-agregar {
    border-radius: 15px;
}

/*INDEX */
.lista-index {
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.tarea {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #bcef4b;
    color: var(--negro);
}

.tarea img {
    width: 90px;
}

.tarea div {
    width: 200px;
}

.tarea div h1 {
    font-size: 20px;
    margin: 0;
}

.tarea div p {
    font-size: 13px;
    margin: 0;
}

.d-none {
    display: none;
}

.fijo {
    position: fixed;
    bottom: 0;
}
